* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: black;
    --widthCom: 699px;
    --heightbottomPanel: 15px;
}

.flexSpBeCen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainLayout {
    width: 736px;
    height: 432px;

    margin: 50px auto;
    margin-top: 0;
    padding-top: 12px;
    padding-left: 18px;
    padding-right: 18px;

    /* border-radius: 10px; */

    background-color: var(--main-color);
}

.slider {
    width: var(--widthCom);
    height: 322px;

    margin: 0px auto;

    border-radius: 10px;
    background-color: blueviolet;

    display: flex;
    position: relative;

    transition: all ease 1s;
    /* right: var(--widthCom); */
}

.bottomPanel {
    width: var(--widthCom);
    height: var(--heightbottomPanel);
    margin: 0 auto;
    margin-top: 23px;
    padding: 0;

    background-color: var(--main-color);
}


.textMem {
    color: white;
}

.nav {
    width: 61px;
    height: var(--heightbottomPanel);

    background-color: var(--main-color);
}

.controller {
    width: 12px;
    height: 12px;

    border: 2px solid blue;

    background-color: var(--main-color);

    border-radius: 10px;
}

.controller:hover {
    border: 2px solid white;
    background-color: white;
    cursor: pointer;
}

.memStl {
    width: var(--widthCom);
    height: 322px;
    border-radius: 10px;

}

.contMem {
    width: var(--widthCom);
    height: 322px;
    display: flex;
    align-items: center;
}


.sliderContainet{
    overflow: hidden;
}