* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* mainLayout */
    --widthMainLayout: 736px;
    --heightMainLayout: 432px;

    --main-color: #25282a;
    --colorController:#71acff;

    --widthCom: 699px;
    --heihthCom: 322px;

    --heightbottomPanel: 15px;
    --widthtextMem: 122px;

    --widthController: 11px;

}

.flexSpBeCen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainLayout {
    width: var(--widthMainLayout);
    height: var(--heightMainLayout);

    margin: 50px auto;
    margin-top: 0;
    padding-top: 12px;
    padding-left: 18px;
    padding-right: 18px;

    /* border-radius: 10px; */

    background-color: var(--main-color);
}

.slider {
    width: var(--widthCom);
    height: var(--heihthCom);

    margin: 0px auto;

    border-radius: 10px;
    /* background-color: blueviolet; */

    display: flex;
    position: relative;

    transition: all ease 1s;
    /* right: var(--widthCom); */
}

.bottomPanel {
    width: var(--widthCom);
    height: var(--heightbottomPanel);
    margin: 0 auto;
    margin-top: 23px;
    padding: 0;

    background-color: var(--main-color);
}


.textMem {
    width: var(--widthtextMem);
    color: white;
}

.nav {
    width: 61px;
    background-color: var(--main-color);
}

.controller {
    width: var(--widthController);
    height: var(--widthController);

    border: 2px solid var(--colorController);

    background-color: var(--colorController);

    border-radius: 10px;
}

.controller:hover {
    /* border: 2px solid white;
    background-color: white; */
    cursor: pointer;
}

.memStl {
    width: var(--widthCom);
    height: var(--heihthCom);
    border-radius: 10px;
}

.contMem {
    width: var(--widthCom);
    height: var(--heihthCom);
    display: flex;
    align-items: center;
}

.sliderContainet {
    overflow: hidden;
}

.sliderFrameText {
    width: var(--widthtextMem);
    overflow: hidden;
}

.sliderTextMem {
    width: 488px;
    height: 18px;

    display: flex;
    align-items: center;

    position: relative;
    right: 0px;

    transition: all ease 1s;
}